#/bin/bash

TWITTER_CONSUMER_KEY=<your_twitter_consumer_key>
TWITTER_CONSUMER_SECRET=<your_twitter_consumer_secret>
TWITTER_ACCESS_TOKEN=<your_twitter_access_token>
TWITTER_TOKEN_SECRET=<your_twitter_token_secret>

BUZZ_MASTER=spark://sparkmaster:7077
BUZZ_DIR_CHECKPOINTS=/home/buzz/data/checkpoints
BUZZ_DIR_DATA=/home/buzz/data
