#/bin/bash

TWITTER_CONSUMER_KEY=<your_twitter_consumer_key>
TWITTER_CONSUMER_SECRET=<your_twitter_consumer_secret>
TWITTER_ACCESS_TOKEN=<your_twitter_access_token>
TWITTER_TOKEN_SECRET=<your_twitter_token_secret>

# BUZZ_DIR_CHECKPOINTS=$HOME/data/buzz/checkpoints
# BUZZ_DIR_DATA=$HOME/data/buzz/data

HADOOP_HOST=localhost

BUZZ_DIR_CHECKPOINTS="hdfs://$HADOOP_HOST/buzz/checkpoints"
BUZZ_DIR_DATA="hdfs://$HADOOP_HOST/buzz/data"
